In [1]:
import pandas as pd

In [8]:
df = pd.read_csv(r"C:\Users\Admin\Downloads\countries of the world.csv")

In [9]:
df

                               Country                               Region
0                         Afghanistan         ASIA (EX. NEAR EAST)
1                             Albania   EASTERN EUROPE
2                             Algeria   NORTHERN AFRICA
3                      American Samoa   OCEANIA
4                             Andorra   WESTERN EUROPE
5                              Angola   SUB-SAHARAN AFRICA
6                            Anguilla               LATIN AMER. & CARIB
7                   Antigua & Barbuda               LATIN AMER. & CARIB
8                           Argentina               LATIN AMER. & CARIB
9                             Armenia                  C.W. OF IND. STATES
10                              Aruba               LATIN AMER. & CARIB
11                          Australia   OCEANIA
12                            Austria   WESTERN EUROPE
13                         Azerbaijan                  C.W. OF IND. STATES
14                       Bahamas, The               LATIN AMER. & CARIB
15                            Bahrain   NEAR EAST
16                         Bangladesh         ASIA (EX. NEAR EAST)
17                           Barbados               LATIN AMER. & CARIB
18                            Belarus                  C.W. OF IND. STATES
19                            Belgium   WESTERN EUROPE
20                             Belize               LATIN AMER. & CARIB
21                              Benin   SUB-SAHARAN AFRICA
22                            Bermuda   NORTHERN AMERICA
23                             Bhutan         ASIA (EX. NEAR EAST)
24                            Bolivia               LATIN AMER. & CARIB
25               Bosnia & Herzegovina   EASTERN EUROPE
26                           Botswana   SUB-SAHARAN AFRICA
27                             Brazil               LATIN AMER. & CARIB
28                 British Virgin Is.               LATIN AMER. & CARIB
29                             Brunei         ASIA (EX. NEAR EAST)
30                           Bulgaria   EASTERN EUROPE
31                       Burkina Faso   SUB-SAHARAN AFRICA
32                              Burma         ASIA (EX. NEAR EAST)
33                            Burundi   SUB-SAHARAN AFRICA
34                           Cambodia         ASIA (EX. NEAR EAST)
35                           Cameroon   SUB-SAHARAN AFRICA
36                             Canada   NORTHERN AMERICA
37                         Cape Verde   SUB-SAHARAN AFRICA
38                     Cayman Islands               LATIN AMER. & CARIB
39               Central African Rep.   SUB-SAHARAN AFRICA
40                               Chad   SUB-SAHARAN AFRICA
41                              Chile               LATIN AMER. & CARIB
42                              China         ASIA (EX. NEAR EAST)
43                           Colombia               LATIN AMER. & CARIB
44                            Comoros   SUB-SAHARAN AFRICA
45                   Congo, Dem. Rep.   SUB-SAHARAN AFRICA
46               Congo, Repub. of the   SUB-SAHARAN AFRICA
47                       Cook Islands   OCEANIA
48                         Costa Rica               LATIN AMER. & CARIB
49                      Cote d'Ivoire   SUB-SAHARAN AFRICA
50                            Croatia   EASTERN EUROPE
51                               Cuba               LATIN AMER. & CARIB
52                             Cyprus   NEAR EAST
53                     Czech Republic   EASTERN EUROPE
54                            Denmark   WESTERN EUROPE
55                           Djibouti   SUB-SAHARAN AFRICA
56                           Dominica               LATIN AMER. & CARIB
57                 Dominican Republic               LATIN AMER. & CARIB
58                         East Timor         ASIA (EX. NEAR EAST)
59                            Ecuador               LATIN AMER. & CARIB
60                              Egypt   NORTHERN AFRICA
61                        El Salvador               LATIN AMER. & CARIB
62                  Equatorial Guinea   SUB-SAHARAN AFRICA
63                            Eritrea   SUB-SAHARAN AFRICA
64                            Estonia   BALTICS
65                           Ethiopia   SUB-SAHARAN AFRICA
66                      Faroe Islands   WESTERN EUROPE
67                               Fiji   OCEANIA
68                            Finland   WESTERN EUROPE
69                             France   WESTERN EUROPE
70                      French Guiana               LATIN AMER. & CARIB
71                   French Polynesia   OCEANIA
72                              Gabon   SUB-SAHARAN AFRICA
73                        Gambia, The   SUB-SAHARAN AFRICA
74                         Gaza Strip   NEAR EAST
75                            Georgia                  C.W. OF IND. STATES
76                            Germany   WESTERN EUROPE
77                              Ghana   SUB-SAHARAN AFRICA
78                          Gibraltar   WESTERN EUROPE
79                             Greece   WESTERN EUROPE
80                          Greenland   NORTHERN AMERICA
81                            Grenada               LATIN AMER. & CARIB
82                         Guadeloupe               LATIN AMER. & CARIB
83                               Guam   OCEANIA
84                          Guatemala               LATIN AMER. & CARIB
85                           Guernsey   WESTERN EUROPE
86                             Guinea   SUB-SAHARAN AFRICA
87                      Guinea-Bissau   SUB-SAHARAN AFRICA
88                             Guyana               LATIN AMER. & CARIB
89                              Haiti               LATIN AMER. & CARIB
90                           Honduras               LATIN AMER. & CARIB
91                          Hong Kong         ASIA (EX. NEAR EAST)
92                            Hungary   EASTERN EUROPE
93                            Iceland   WESTERN EUROPE
94                              India         ASIA (EX. NEAR EAST)
95                          Indonesia         ASIA (EX. NEAR EAST)
96                               Iran         ASIA (EX. NEAR EAST)
97                               Iraq   NEAR EAST
98                            Ireland   WESTERN EUROPE
99                        Isle of Man   WESTERN EUROPE
100                            Israel   NEAR EAST
101                             Italy   WESTERN EUROPE
102                           Jamaica               LATIN AMER. & CARIB
103                             Japan         ASIA (EX. NEAR EAST)
104                            Jersey   WESTERN EUROPE
105                            Jordan   NEAR EAST
106                        Kazakhstan                  C.W. OF IND. STATES
107                             Kenya   SUB-SAHARAN AFRICA
108                          Kiribati   OCEANIA
109                      Korea, North         ASIA (EX. NEAR EAST)
110                      Korea, South         ASIA (EX. NEAR EAST)
111                            Kuwait   NEAR EAST
112                        Kyrgyzstan                  C.W. OF IND. STATES
113                              Laos         ASIA (EX. NEAR EAST)
114                            Latvia   BALTICS
115                           Lebanon   NEAR EAST
116                           Lesotho   SUB-SAHARAN AFRICA
117                           Liberia   SUB-SAHARAN AFRICA
118                             Libya   NORTHERN AFRICA
119                     Liechtenstein   WESTERN EUROPE
120                         Lithuania   BALTICS
121                        Luxembourg   WESTERN EUROPE
122                             Macau         ASIA (EX. NEAR EAST)
123                         Macedonia   EASTERN EUROPE
124                        Madagascar   SUB-SAHARAN AFRICA
125                            Malawi   SUB-SAHARAN AFRICA
126                          Malaysia         ASIA (EX. NEAR EAST)
127                          Maldives         ASIA (EX. NEAR EAST)
128                              Mali   SUB-SAHARAN AFRICA
129                             Malta   WESTERN EUROPE
130                  Marshall Islands   OCEANIA
131                        Martinique               LATIN AMER. & CARIB
132                        Mauritania   SUB-SAHARAN AFRICA
133                         Mauritius   SUB-SAHARAN AFRICA
134                           Mayotte   SUB-SAHARAN AFRICA
135                            Mexico               LATIN AMER. & CARIB
136              Micronesia, Fed. St.   OCEANIA
137                           Moldova                  C.W. OF IND. STATES
138                            Monaco   WESTERN EUROPE
139                          Mongolia         ASIA (EX. NEAR EAST)
140                        Montserrat               LATIN AMER. & CARIB
141                           Morocco   NORTHERN AFRICA
142                        Mozambique   SUB-SAHARAN AFRICA
143                           Namibia   SUB-SAHARAN AFRICA
144                             Nauru   OCEANIA
145                             Nepal         ASIA (EX. NEAR EAST)
146                       Netherlands   WESTERN EUROPE
147              Netherlands Antilles               LATIN AMER. & CARIB
148                     New Caledonia   OCEANIA
149                       New Zealand   OCEANIA
150                         Nicaragua               LATIN AMER. & CARIB
151                             Niger   SUB-SAHARAN AFRICA
152                           Nigeria   SUB-SAHARAN AFRICA
153                N. Mariana Islands   OCEANIA
154                            Norway   WESTERN EUROPE
155                              Oman   NEAR EAST
156                          Pakistan         ASIA (EX. NEAR EAST)
157                             Palau   OCEANIA
158                            Panama               LATIN AMER. & CARIB
159                  Papua New Guinea   OCEANIA
160                          Paraguay               LATIN AMER. & CARIB
161                              Peru               LATIN AMER. & CARIB
162                       Philippines         ASIA (EX. NEAR EAST)
163                            Poland   EASTERN EUROPE
164                          Portugal   WESTERN EUROPE
165                       Puerto Rico               LATIN AMER. & CARIB
166                             Qatar   NEAR EAST
167                           Reunion   SUB-SAHARAN AFRICA
168                           Romania   EASTERN EUROPE
169                            Russia                  C.W. OF IND. STATES
170                            Rwanda   SUB-SAHARAN AFRICA
171                      Saint Helena   SUB-SAHARAN AFRICA
172               Saint Kitts & Nevis               LATIN AMER. & CARIB
173                       Saint Lucia               LATIN AMER. & CARIB
174              St Pierre & Miquelon   NORTHERN AMERICA
175  Saint Vincent and the Grenadines               LATIN AMER. & CARIB
176                             Samoa   OCEANIA
177                        San Marino   WESTERN EUROPE
178               Sao Tome & Principe   SUB-SAHARAN AFRICA
179                      Saudi Arabia   NEAR EAST
180                           Senegal   SUB-SAHARAN AFRICA
181                            Serbia   EASTERN EUROPE
182                        Seychelles   SUB-SAHARAN AFRICA
183                      Sierra Leone   SUB-SAHARAN AFRICA
184                         Singapore         ASIA (EX. NEAR EAST)
185                          Slovakia   EASTERN EUROPE
186                          Slovenia   EASTERN EUROPE
187                   Solomon Islands   OCEANIA
188                           Somalia   SUB-SAHARAN AFRICA
189                      South Africa   SUB-SAHARAN AFRICA
190                             Spain   WESTERN EUROPE
191                         Sri Lanka         ASIA (EX. NEAR EAST)
192                             Sudan   SUB-SAHARAN AFRICA
193                          Suriname               LATIN AMER. & CARIB
194                         Swaziland   SUB-SAHARAN AFRICA
195                            Sweden   WESTERN EUROPE
196                       Switzerland   WESTERN EUROPE
197                             Syria   NEAR EAST
198                            Taiwan         ASIA (EX. NEAR EAST)
199                        Tajikistan                  C.W. OF IND. STATES
200                          Tanzania   SUB-SAHARAN AFRICA
201                          Thailand         ASIA (EX. NEAR EAST)
202                              Togo   SUB-SAHARAN AFRICA
203                             Tonga   OCEANIA
204                 Trinidad & Tobago               LATIN AMER. & CARIB
205                           Tunisia   NORTHERN AFRICA
206                            Turkey   NEAR EAST
207                      Turkmenistan                  C.W. OF IND. STATES
208                 Turks & Caicos Is               LATIN AMER. & CARIB
209                            Tuvalu   OCEANIA
210                            Uganda   SUB-SAHARAN AFRICA
211                           Ukraine                  C.W. OF IND. STATES
212              United Arab Emirates   NEAR EAST
213                    United Kingdom   WESTERN EUROPE
214                     United States   NORTHERN AMERICA
215                           Uruguay               LATIN AMER. & CARIB
216                        Uzbekistan                  C.W. OF IND. STATES
217                           Vanuatu   OCEANIA
218                         Venezuela               LATIN AMER. & CARIB
219                           Vietnam         ASIA (EX. NEAR EAST)
220                    Virgin Islands               LATIN AMER. & CARIB
221                 Wallis and Futuna   OCEANIA
222                         West Bank   NEAR EAST
223                    Western Sahara   NORTHERN AFRICA
224                             Yemen   NEAR EAST
225                            Zambia   SUB-SAHARAN AFRICA
226                          Zimbabwe   SUB-SAHARAN AFRICA

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  227 non-null    object
 1   Region   227 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

In [15]:
df2 = pd.read_csv(r"C:\Users\Admin\Downloads\world_population.csv")

In [16]:
df2

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country                      234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              230 non-null    float64
 6   2020 Population              233 non-null    float64
 7   2015 Population              230 non-null    float64
 8   2010 Population              227 non-null    float64
 9   2000 Population              227 non-null    float64
 10  1990 Population              229 non-null    float64
 11  1980 Population              229 non-null    float64
 12  1970 Population              230 non-null    float64
 13  Area (km²)                   232 non-null    float64
 14  Density (per km²)            230 non-null    float64
 15  Growth Rate                  232 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(12), int64(1), object(4)
memory usage: 31.2+ KB

In [18]:
df2

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [22]:
df2[df2['Rank']<=10]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
27,7,BRA,Brazil,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
131,10,MEX,Mexico,Mexico City,North America,1.275041e+08,1.259983e+08,1.201499e+08,1.125324e+08,9.787344e+07,8.172043e+07,67705186.0,50289306.0,1964375.0,64.9082,1.0063,1.60
149,6,NGA,Nigeria,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
171,9,RUS,Russia,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
221,3,USA,United States,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24

In [25]:
specific_country = ["India", "Bangladesh"]

df2[df2["Country"].isin(specific_country)]

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
16,8,BGD,Bangladesh,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,107147651.0,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
92,2,IND,India,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77

In [28]:
df[df['Country'].str.contains('United')]

                   Country                               Region
212  United Arab Emirates   NEAR EAST
213        United Kingdom   WESTERN EUROPE
214         United States   NORTHERN AMERICA

In [29]:
df = df2.set_index("Country")

In [30]:
df

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572.0,11655.0,12182.0,13142.0,14723.0,13454.0,11315.0,9377.0,142.0,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986.0,556048.0,491824.0,413296.0,270375.0,178529.0,116775.0,76371.0,266000.0,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614.0,32284046.0,28516545.0,24743946.0,18628700.0,13375121.0,9204938.0,6843607.0,527968.0,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675.0,18927715.0,NaN,13792086.0,9891136.0,7686401.0,5720438.0,4281671.0,752612.0,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.20

In [31]:
df.filter(items= ['Continent', 'CCA3',], axis=1)

                  Continent CCA3
Country
Afghanistan            Asia  AFG
Albania              Europe  ALB
Algeria              Africa  DZA
American Samoa      Oceania  ASM
Andorra              Europe  AND
...                     ...  ...
Wallis and Futuna   Oceania  WLF
Western Sahara       Africa  ESH
Yemen                  Asia  YEM
Zambia               Africa  ZMB
Zimbabwe             Africa  ZWE

[234 rows x 2 columns]

In [32]:
df.filter(items= ['Zimbabwe'], axis=0)

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Zimbabwe,74,ZWE,Harare,Africa,16320537.0,15669666.0,14154937.0,12839771.0,11834676.0,10113893.0,7049926.0,5202918.0,390757.0,41.7665,1.0204,0.2

In [37]:
df.loc['Algeria']

Rank                                   34
CCA3                                  DZA
Capital                           Algiers
Continent                          Africa
2022 Population                44903225.0
2020 Population                43451666.0
2015 Population                39543154.0
2010 Population                35856344.0
2000 Population                30774621.0
1990 Population                25518074.0
1980 Population                18739378.0
1970 Population                13795915.0
Area (km²)                      2381741.0
Density (per km²)                 18.8531
Growth Rate                        1.0164
World Population Percentage          0.56
Name: Algeria, dtype: object

In [38]:
df.iloc[2]

Rank                                   34
CCA3                                  DZA
Capital                           Algiers
Continent                          Africa
2022 Population                44903225.0
2020 Population                43451666.0
2015 Population                39543154.0
2010 Population                35856344.0
2000 Population                30774621.0
1990 Population                25518074.0
1980 Population                18739378.0
1970 Population                13795915.0
Area (km²)                      2381741.0
Density (per km²)                 18.8531
Growth Rate                        1.0164
World Population Percentage          0.56
Name: Algeria, dtype: object

In [47]:
df[df['Rank']<10].sort_values(by=['Country'])

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country,,,,,,,,,,,,,,,,
Bangladesh,8,BGD,Dhaka,Asia,1.711864e+08,1.674210e+08,1.578300e+08,1.483911e+08,1.291933e+08,1.071477e+08,83929765.0,67541860.0,147570.0,1160.0350,1.0108,2.15
Brazil,7,BRA,Brasilia,South America,2.153135e+08,2.131963e+08,2.051882e+08,1.963535e+08,1.758737e+08,1.507064e+08,122288383.0,96369875.0,8515767.0,25.2841,1.0046,2.70
China,1,CHN,Beijing,Asia,1.425887e+09,1.424930e+09,1.393715e+09,1.348191e+09,1.264099e+09,1.153704e+09,982372466.0,822534450.0,9706961.0,146.8933,1.0000,17.88
India,2,IND,New Delhi,Asia,1.417173e+09,1.396387e+09,1.322867e+09,1.240614e+09,1.059634e+09,NaN,NaN,557501301.0,3287590.0,431.0675,1.0068,17.77
Indonesia,4,IDN,Jakarta,Asia,2.755013e+08,2.718580e+08,2.590920e+08,2.440162e+08,2.140724e+08,1.821599e+08,148177096.0,115228394.0,1904569.0,144.6529,1.0064,3.45
Nigeria,6,NGA,Abuja,Africa,2.185412e+08,2.083274e+08,1.839958e+08,1.609529e+08,1.228520e+08,9.521426e+07,72951439.0,55569264.0,923768.0,236.5759,1.0241,2.74
Pakistan,5,PAK,Islamabad,Asia,2.358249e+08,2.271967e+08,2.109693e+08,1.944545e+08,1.543699e+08,1.154141e+08,80624057.0,59290872.0,881912.0,267.4018,1.0191,2.96
Russia,9,RUS,Moscow,Europe,1.447133e+08,1.456173e+08,1.446684e+08,1.432426e+08,1.468448e+08,1.480057e+08,138257420.0,130093010.0,17098242.0,8.4636,0.9973,1.81
United States,3,USA,"Washington, D.C.",North America,3.382899e+08,3.359420e+08,3.246078e+08,3.111828e+08,2.823986e+08,2.480837e+08,223140018.0,200328340.0,9372610.0,36.0935,1.0038,4.24